* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
  outline: none;
}

ul,
li {
  list-style: none;
}

button {
  padding: 12px 20px;
  border: 1px solid #409eff;
  border-radius: 4px;
  background-color: #409eff;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  outline: none;
  transition: 0.2s ease-out;
  box-shadow: none;
  appearance: none;

  &:hover {
    background-color: #61b1ff;
    border-color: #61b1ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.input {
  width: 240px;
  height: 40px;
  line-height: 38px;
  padding: 0 0.8em;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-out;
  &:focus {
    border-color: #61b1ff;
  }
}
